:host {
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      display: flex;
      justify-content: center;
      margin-inline: 10px;
    }
    & > div {
      display: flex;
      flex-direction: column;
    }
  }
}
